# Backend API URL
# En desarrollo: http://localhost:3000/webhook
# En producción: https://service.computeksa.com/webhook
VITE_WEBHOOK_URL=https://service.computeksa.com/webhook
#VITE_WEBHOOK_URL=https://gateway.computeksa.com/api

# OAuth Configuration
VITE_OAUTH_CLIENT_ID=your-client-id-here
VITE_OAUTH_REDIRECT_URI=http://localhost:5173/auth/callback
